extends layout 
block content 
    .row.page-header 
        .col-lg-12 
            h1 Mackbear 
    .row 
        .col-xs-12.col-md-12 
            .row
                .col-xs-12.col-sm-6
                    p.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star-empty
                    p Fatih Mahallesi
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Açılış Saatleri 
                        .panel-body 
                            p 
                                | Pazartesi-Cuma: 11:00-00:00
                            p 
                                | Cumartesi-Pazar: 11:00-02:00
                        .panel.panel-primary 
                            .panel-heading 
                                h2.panel-title Neler Var?
                            .panel-body 
                                span.label.label-warning 3. Nesil Kahve
                                | &nbsp;
                                span.label.label-warning Kurabiye
                                | &nbsp;
                                span.label.label-warning Pasta
                                | &nbsp;
                .col-xs-12.col-sm-6             
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Konum Bilgisi 
                        .panel-body 
                            -var enlem=37.7832076
                            -var boylam=30.544183
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+
                            '&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
    .row 
        .col-xs-12 
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row 
                        .review 
                            .well.well-sm.review-header
                                span.rating 
                                span.review-author Kahve Müptelası
                                small.reviewTimestamp &nbsp; 1 Ekim 2022
                                span.rating 
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                            .col-xs-12 
                                p Kahveler damak zevkime uygun değildi.
    .row 
        .col-xs-12 
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row 
                        .review 
                            .well.well-sm.review-header
                                span.review-author Ahmet Yılmaz
                                small.reviewTimestamp &nbsp; 9 Ekim 2022
                                | &nbsp;
                                span.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                            .col-xs-12 
                                p Kahve de güzel mekan da güzel. On numaraaa
                                
